<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="p15241925" />
    <link rel="stylesheet" href="{{ css_path }}" type="text/css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block banner %}{% endblock %}
{% block content %}{% endblock %}
<footer>
  <p><a href="https://validator.w3.org/nu/#textarea">W3 Validated with 0 errors</a></p>
</footer>
</body>
</html>
